body {
  color: red,
}

.o-home__links {
  display: flex;
  flex-direction: column;
}

form {  
  border: solid 1px black;
  display: flex;
  flex-direction: column;
}

.o-product-list {
  display: flex;

  li {
    margin-right: 10px;
    max-width: 25%;
  }

  img {
    width: 100%;
  }
}