@import '../../node_modules/css-reset-and-normalize/scss/reset-and-normalize';

body {
  color: red;
}

.o-home__links {
  display: flex;
  flex-direction: column;
}

form {  
  display: flex;
  flex-direction: column;
}

.o-product-list {
  display: flex;

  li {
    margin-right: 10px;
    max-width: 25%;
  }

  img {
    width: 100%;
  }
}

.o-user-form__header {
  height: 50px;
  background: #dddddd;
}

